In [ ]:
cursor.execute("""DROP DATABASE MP""")

In [ ]:
# !pip install mysql-connector-python

In [26]:
import json
import mysql as m
import mysql.connector
import config
import requests
import pandas as pd
# import sqlite3

In [ ]:
db_name = 'MP'

In [ ]:
cnx = mysql.connector.connect(
    host = config.host,
    user = config.user,
    passwd = config.password,
)

In [4]:
# conn = sqlite3.connect('tutorial.db')
# c = conn.cursor()

In [5]:
cursor = cnx.cursor()

In [ ]:
def create_database(cursor, database):
    try:
        cursor.execute(
            "CREATE DATABASE {}".format(database))
    except mysql.connector.Error as err:
        print("Failed creating database: {}".format(err))
        exit(1)
        
create_database(cursor, db_name)

# try:
#     cursor.execute("USE {}".format(db_name))
# except mysql.connector.Error as err:
#     print("Database {} does not exist.".format(db_name))
#     if err.errno == errorcode.ER_BAD_DB_ERROR:
#         create_database(cursor, db_name)
#         print("Database {} created successfully.".format(db_name))
#         cnx.database = db_name
#     else:
#         print(err)
#         exit(1)

In [6]:
try:
    cursor.execute("USE MP")
except mysql.connector.Error as err:
    print("Database {} does not exist.".format(db_name))
    if err.errno == errorcode.ER_BAD_DB_ERROR:
        create_database(cursor, db_name)
        print("Database {} created successfully.".format(db_name))
        cnx.database = db_name
    else:
        print(err)
        exit(1)

In [ ]:
TABLES = {}

TABLES['Businesses'] = ("""
CREATE TABLE IF NOT EXISTS businesses (
    business_id VARCHAR(255) NOT NULL PRIMARY KEY,
    alias VARCHAR(255) NOT NULL,
    name VARCHAR(255) NOT NULL,
    review_count SMALLINT NOT NULL,
    categories TEXT NOT NULL,
    rating FLOAT NOT NULL,
    city VARCHAR(255) NOT NULL
)  ENGINE=INNODB;
""")

TABLES['Reviews'] = ("""
CREATE TABLE IF NOT EXISTS reviews (
    business_id VARCHAR(255) NOT NULL PRIMARY KEY, 
    total_reviews SMALLINT NOT NULL,
    review_text TEXT NOT NULL,
    time_created DATE NOT NULL,
    username VARCHAR(255) NOT NULL
 ) ENGINE=INNODB;
""")

In [ ]:
#     FOREIGN KEY (business_id) REFERENCES businesses(business_id)

In [7]:
cnx = mysql.connector .connect(
    host = config.host,
    user = config.user,
    passwd = config.password,
    database = db_name
)

cursor = cnx.cursor(buffered=True)
print(cnx)

<mysql.connector.connection_cext.CMySQLConnection object at 0x103c71128>

In [ ]:
for table_name in TABLES:
    table_description = TABLES[table_name]
    print(table_name)

In [ ]:
for table_name in TABLES:
    table_description = TABLES[str(table_name)]
    print(f"Creating table {table_name}: ")
    cursor.execute(table_description)
#         except mysql.connector.Error as err:
#             if err.errno == errorcode.ER_TABLE_EXISTS_ERROR:
#                 print("already exists.")
#             else:
#                 print(err.msg)
#         else:
#             print("OK")

In [ ]:
alter_query = """ALTER TABLE reviews
                 ADD FOREIGN KEY (business_id) REFERENCES businesses(business_id)"""

In [ ]:
alter_query2 = """ALTER TABLE businesses
                 ADD """

In [ ]:
cursor.execute(alter_query)

##### queries to insert

##### pass a list of tuples to it (or a dict)

In [8]:
def yelp_call(url_params, api_key):
    url = 'https://api.yelp.com/v3/businesses/search'
    headers = {'Authorization': 'Bearer {}'.format(api_key)}
    response = requests.get(url, headers=headers, params=url_params)
    data = response.json()
    return data

In [9]:
my_url_params = {'location':'Manhattan', 'categories':'massage, All', 'sort_by':'review_count'}

In [10]:
my_api_key = 'hCKY3B7kZZDUIkc7JiW5RM3RluzA562cAFztq2zGnaoax9bHYkZ8S_2vGkmg5FQ5snTcdhjN1TvMzjX89sLbLMmcN-n-APL3986KpquzNcSnhImY0GOrzXm25OaxXXYx'

In [11]:
data = yelp_call(my_url_params, my_api_key)

In [12]:
data['total']

818

In [ ]:
data.keys()

In [ ]:
data['businesses']

In [ ]:
param_list = []

In [ ]:
len(data['businesses'])

In [ ]:
len(data['businesses'])

In [13]:
# for n in range(len(data['businesses'])):
all_rows = []
for business in data['businesses']:
    print(business['name'])
    entry_tup = (business['id'], business['alias'], business['name'], business['review_count'], business['categories'][0]['alias'], business['rating'], business['location']['city'])
    all_rows.append(entry_tup)

Mian Tian Sing  Hair Salon
Aire Ancient Baths
Premier57
Kimberly Spa
Renew Day Spa
Skin Spa New York - Midtown
Nams Skin Care & Spa
Zuyuan
Skin Spa New York
Renew Body & Mind Spa
Skin Spa New York
Tribeca Spa of Tranquility
Modern Spa
Skin Spa New York - Fashion
Taiji Body Work
Russian & Turkish Baths
The Nail Boutique
Bliss Soho
Black Label Nails & Spa
Renewing Spa

In [ ]:
data_tup = tuple(all_rows)

In [14]:

all_rows

[('myftXTr-yUnFTjf1ZM7YnA',
  'mian-tian-sing-hair-salon-new-york-15',
  'Mian Tian Sing  Hair Salon',
  948,
  'hair',
  4.0,
  'New York'),
 ('mM1uQFMZNZtrGHZzB1ghMQ',
  'aire-ancient-baths-new-york',
  'Aire Ancient Baths',
  758,
  'massage',
  4.0,
  'New York'),
 ('LrqC8HfSF7MrGVWiOTBFCw',
  'premier57-new-york',
  'Premier57',
  685,
  'spas',
  3.0,
  'New York'),
 ('jOA8rJehImz34TuLmvhwMQ',
  'kimberly-spa-new-york-3',
  'Kimberly Spa',
  673,
  'massage',
  4.5,
  'New York'),
 ('-R4lcVkMi05sQc2vQOTUiA',
  'renew-day-spa-new-york',
  'Renew Day Spa',
  575,
  'massage',
  4.5,
  'New York'),
 ('wmv9vGht17V8Jrob-k15ug',
  'skin-spa-new-york-midtown-new-york-2',
  'Skin Spa New York - Midtown',
  536,
  'skincare',
  3.5,
  'New York'),
 ('6mnSfcr5Tlf65nSso5HmBw',
  'nams-skin-care-and-spa-new-york',
  'Nams Skin Care & Spa',
  534,
  'skincare',
  4.5,
  'New York'),
 ('ClY7IwXYIqMF-GPFuH6e_A',
  'zuyuan-new-york-3',
  'Zuyuan',
  531,
  'massage',
  4.5,
  'New York'),
 ('KQo0KPZZCt2srDmmt0Qy-Q',
  'skin-spa-new-york-new-york-11',
  'Skin Spa New York',
  514,
  'laser_hair_removal',
  3.5,
  'New York'),
 ('I0bQzuTFY09dt-DKN_-n_A',
  'renew-body-and-mind-spa-new-york',
  'Renew Body & Mind Spa',
  500,
  'massage',
  4.5,
  'New York'),
 ('6UeM65PNZH1MHKRMZjREAg',
  'skin-spa-new-york-new-york-9',
  'Skin Spa New York',
  459,
  'laser_hair_removal',
  3.5,
  'New York'),
 ('eqAnbLSj3f1osvKeERI3-A',
  'tribeca-spa-of-tranquility-new-york-3',
  'Tribeca Spa of Tranquility',
  418,
  'spas',
  3.5,
  'New York'),
 ('Hz6Fs0yAT8WH3XlqxbxliA',
  'modern-spa-new-york-3',
  'Modern Spa',
  415,
  'othersalons',
  4.0,
  'New York'),
 ('jelNtQELe-kym8n4xsCh0A',
  'skin-spa-new-york-fashion-new-york',
  'Skin Spa New York - Fashion',
  409,
  'skincare',
  4.0,
  'New York'),
 ('7Kq2KedRhNiohr2P2rEFJw',
  'taiji-body-work-new-york-7',
  'Taiji Body Work',
  404,
  'massage',
  4.0,
  'New York'),
 ('1OBCuK8iNv9dEkpnL2HbYg',
  'russian-and-turkish-baths-new-york',
  'Russian & Turkish Baths',
  393,
  'massage',
  3.0,
  'New York'),
 ('8ZY_cGtOhWw7fveATNdR8Q',
  'the-nail-boutique-brooklyn',
  'The Nail Boutique',
  384,
  'othersalons',
  3.5,
  'Brooklyn'),
 ('sUkztsGbkYaanUACHk25aw',
  'bliss-soho-new-york',
  'Bliss Soho',
  381,
  'spas',
  3.5,
  'New York'),
 ('XKhorv5XtgBswQOn7czFmw',
  'black-label-nails-and-spa-new-york',
  'Black Label Nails & Spa',
  359,
  'othersalons',
  3.5,
  'New York'),
 ('t6UFpoFwCJ-Wu82ydIFIrw',
  'renewing-spa-new-york',
  'Renewing Spa',
  357,
  'massage',
  4.5,
  'New York')]

In [ ]:
# data['businesses'][1].keys()

In [ ]:
# dict_keys(['id', 'alias', 'name', 'image_url', 'is_closed', 
#            'url', 'review_count', 'categories', 'rating',
#            'coordinates', 'transactions', 'price', 'location', 
#            'phone', 'display_phone', 'distance'])

In [ ]:
# qry = """INSERT INTO Businesses 
# (business_id, alias, name, review_count, categories, rating, city) 
# VALUES (%(id)s, %(alias)s, %(name)s, %(review_count)s, %(categories)s,
# %(rating)s, %(location['city'])s)"""

In [ ]:
# vrb = data['businesses'][0]

##### # Create a list of tuples from data, which is dictionary of lists of dictionaries

In [ ]:
# Create a list of tuples from data, which is dictionary of lists of dictionaries
tuple1 = ()

In [ ]:
type(cursor)
print(cnx)

In [21]:
cursor.execute("SELECT * FROM MP.businesses")

In [22]:
cursor.fetchall()

[('-R4lcVkMi05sQc2vQOTUiA',
  'renew-day-spa-new-york',
  'Renew Day Spa',
  575,
  'massage',
  4.5,
  'New York'),
 ('1OBCuK8iNv9dEkpnL2HbYg',
  'russian-and-turkish-baths-new-york',
  'Russian & Turkish Baths',
  393,
  'massage',
  3.0,
  'New York'),
 ('6mnSfcr5Tlf65nSso5HmBw',
  'nams-skin-care-and-spa-new-york',
  'Nams Skin Care & Spa',
  534,
  'skincare',
  4.5,
  'New York'),
 ('6UeM65PNZH1MHKRMZjREAg',
  'skin-spa-new-york-new-york-9',
  'Skin Spa New York',
  459,
  'laser_hair_removal',
  3.5,
  'New York'),
 ('7Kq2KedRhNiohr2P2rEFJw',
  'taiji-body-work-new-york-7',
  'Taiji Body Work',
  404,
  'massage',
  4.0,
  'New York'),
 ('8ZY_cGtOhWw7fveATNdR8Q',
  'the-nail-boutique-brooklyn',
  'The Nail Boutique',
  384,
  'othersalons',
  3.5,
  'Brooklyn'),
 ('ClY7IwXYIqMF-GPFuH6e_A',
  'zuyuan-new-york-3',
  'Zuyuan',
  531,
  'massage',
  4.5,
  'New York'),
 ('eqAnbLSj3f1osvKeERI3-A',
  'tribeca-spa-of-tranquility-new-york-3',
  'Tribeca Spa of Tranquility',
  418,
  'spas',
  3.5,
  'New York'),
 ('Hz6Fs0yAT8WH3XlqxbxliA',
  'modern-spa-new-york-3',
  'Modern Spa',
  415,
  'othersalons',
  4.0,
  'New York'),
 ('I0bQzuTFY09dt-DKN_-n_A',
  'renew-body-and-mind-spa-new-york',
  'Renew Body & Mind Spa',
  500,
  'massage',
  4.5,
  'New York'),
 ('jelNtQELe-kym8n4xsCh0A',
  'skin-spa-new-york-fashion-new-york',
  'Skin Spa New York - Fashion',
  409,
  'skincare',
  4.0,
  'New York'),
 ('jOA8rJehImz34TuLmvhwMQ',
  'kimberly-spa-new-york-3',
  'Kimberly Spa',
  673,
  'massage',
  4.5,
  'New York'),
 ('KQo0KPZZCt2srDmmt0Qy-Q',
  'skin-spa-new-york-new-york-11',
  'Skin Spa New York',
  514,
  'laser_hair_removal',
  3.5,
  'New York'),
 ('LrqC8HfSF7MrGVWiOTBFCw',
  'premier57-new-york',
  'Premier57',
  685,
  'spas',
  3.0,
  'New York'),
 ('mM1uQFMZNZtrGHZzB1ghMQ',
  'aire-ancient-baths-new-york',
  'Aire Ancient Baths',
  758,
  'massage',
  4.0,
  'New York'),
 ('myftXTr-yUnFTjf1ZM7YnA',
  'mian-tian-sing-hair-salon-new-york-15',
  'Mian Tian Sing  Hair Salon',
  948,
  'hair',
  4.0,
  'New York'),
 ('sUkztsGbkYaanUACHk25aw',
  'bliss-soho-new-york',
  'Bliss Soho',
  381,
  'spas',
  3.5,
  'New York'),
 ('t6UFpoFwCJ-Wu82ydIFIrw',
  'renewing-spa-new-york',
  'Renewing Spa',
  357,
  'massage',
  4.5,
  'New York'),
 ('wmv9vGht17V8Jrob-k15ug',
  'skin-spa-new-york-midtown-new-york-2',
  'Skin Spa New York - Midtown',
  536,
  'skincare',
  3.5,
  'New York'),
 ('XKhorv5XtgBswQOn7czFmw',
  'black-label-nails-and-spa-new-york',
  'Black Label Nails & Spa',
  359,
  'othersalons',
  3.5,
  'New York')]

In [ ]:
query = """CREATE TABLE 
"""

In [20]:
for n in range(1, len(all_rows)):
    cursor.execute(qry, all_rows[n])

In [23]:
def db_insert(results):
    qry = """INSERT INTO businesses 
    (business_id, alias, name, review_count, categories, rating, city) 
    VALUES (%s, %s, %s, %s, %s, %s, %s)"""
    for n in range(0, len(all_rows)):
        cursor.execute(qry, all_rows[n])

In [31]:
def parse_results(results):
    parsed_results = []
    for business in data['businesses']:
        entry_tup = (business['id'], business['alias'], business['name'], business['review_count'], business['categories'][0]['alias'], business['rating'], business['location']['city'])
        parsed_results.append(entry_tup)
    return parsed_results

In [32]:
# Your code here; use a function or loop to retrieve all the results from your original request
import time

all_url_params = {'location':'Manhattan', 'categories':'massage, All', 'sort_by':'review_count'}

def all_results(url_params, api_key):
    response = yelp_call(url_params, api_key)
    num = data['total']
    print('{} total matches found.'.format(num))
    cur = 0
    
    while cur < num and cur < 100:
        url_params['offset'] = cur
        results = yelp_call(url_params, api_key)
        parsed_results = parse_results(results)
        db_insert(parsed_results)
        time.sleep(1) #Wait a second
#          for yelp you dont really need to wait a second
        cur += 20

# term = 'pizza'
# location = 'Astoria NY'
# url_params = {  'term': term.replace(' ', '+'),
#                 'location': location.replace(' ', '+'),
#                 'limit' : 50
#              }
df = pd.DataFrame(all_results(all_url_params, my_api_key))
print(len(df))
df.head()

818 total matches found.

IntegrityError: 1062 (23000): Duplicate entry 'myftXTr-yUnFTjf1ZM7YnA' for key 'PRIMARY'