In [8]:
cursor.execute("""DROP DATABASE MP""")

In [ ]:
cursor.execute("""TRUNCATE TABLE businesses""")

In [ ]:
# !pip install mysql-connector-python

In [3]:
import json
import mysql as m
import mysql.connector
import config
import requests
import pandas as pd
# import sqlite3

In [4]:
db_name = 'MP'

In [5]:
cnx = mysql.connector.connect(
    host = config.host,
    user = config.user,
    passwd = config.password,
)

In [6]:
# conn = sqlite3.connect('tutorial.db')
# c = conn.cursor()

In [7]:
cursor = cnx.cursor()

In [9]:
def create_database(cursor, database):
    try:
        cursor.execute(
            "CREATE DATABASE {}".format(database))
    except mysql.connector.Error as err:
        print("Failed creating database: {}".format(err))
        exit(1)
        
create_database(cursor, db_name)

# try:
#     cursor.execute("USE {}".format(db_name))
# except mysql.connector.Error as err:
#     print("Database {} does not exist.".format(db_name))
#     if err.errno == errorcode.ER_BAD_DB_ERROR:
#         create_database(cursor, db_name)
#         print("Database {} created successfully.".format(db_name))
#         cnx.database = db_name
#     else:
#         print(err)
#         exit(1)

In [10]:
try:
    cursor.execute("USE MP")
except mysql.connector.Error as err:
    print("Database {} does not exist.".format(db_name))
    if err.errno == errorcode.ER_BAD_DB_ERROR:
        create_database(cursor, db_name)
        print("Database {} created successfully.".format(db_name))
        cnx.database = db_name
    else:
        print(err)
        exit(1)

In [11]:
TABLES = {}

TABLES['Businesses'] = ("""
CREATE TABLE IF NOT EXISTS businesses (
    business_id VARCHAR(255) NOT NULL PRIMARY KEY,
    alias VARCHAR(255) NOT NULL,
    name VARCHAR(255) NOT NULL,
    review_count SMALLINT NOT NULL,
    categories TEXT NOT NULL,
    rating FLOAT NOT NULL,
    city VARCHAR(255) NOT NULL
)  ENGINE=INNODB;
""")

TABLES['Reviews'] = ("""
CREATE TABLE IF NOT EXISTS reviews (
    business_id VARCHAR(255) NOT NULL PRIMARY KEY, 
    total_reviews SMALLINT NOT NULL,
    review_text TEXT NOT NULL,
    time_created DATE NOT NULL,
    username VARCHAR(255) NOT NULL
 ) ENGINE=INNODB;
""")

In [ ]:
#     FOREIGN KEY (business_id) REFERENCES businesses(business_id)

In [12]:
cnx = mysql.connector .connect(
    host = config.host,
    user = config.user,
    passwd = config.password,
    database = db_name
)

cursor = cnx.cursor(buffered=True)
print(cnx)

<mysql.connector.connection_cext.CMySQLConnection object at 0x11a4ed080>

In [13]:
for table_name in TABLES:
    table_description = TABLES[table_name]
    print(table_name)

Businesses
Reviews

In [14]:
for table_name in TABLES:
    table_description = TABLES[str(table_name)]
    print(f"Creating table {table_name}: ")
    cursor.execute(table_description)
#         except mysql.connector.Error as err:
#             if err.errno == errorcode.ER_TABLE_EXISTS_ERROR:
#                 print("already exists.")
#             else:
#                 print(err.msg)
#         else:
#             print("OK")

Creating table Businesses:
Creating table Reviews:

In [17]:
alter_query = """ALTER TABLE reviews
                 ADD FOREIGN KEY (business_id) REFERENCES businesses(business_id) ON DELETE CASCADE"""

In [ ]:
alter_query2 = """ALTER TABLE businesses
                 ADD """

In [18]:
cursor.execute(alter_query)

##### queries to insert

##### pass a list of tuples to it (or a dict)

In [ ]:
def yelp_call(url_params, api_key):
    url = 'https://api.yelp.com/v3/businesses/search'
    headers = {'Authorization': 'Bearer {}'.format(api_key)}
    response = requests.get(url, headers=headers, params=url_params)
    data = response.json()
    return data

In [ ]:
my_url_params = {'location':'Manhattan', 'categories':'massage, All', 'sort_by':'review_count'}

In [ ]:
my_api_key = 'hCKY3B7kZZDUIkc7JiW5RM3RluzA562cAFztq2zGnaoax9bHYkZ8S_2vGkmg5FQ5snTcdhjN1TvMzjX89sLbLMmcN-n-APL3986KpquzNcSnhImY0GOrzXm25OaxXXYx'

In [ ]:
data = yelp_call(my_url_params, my_api_key)

In [ ]:
data['total']

In [ ]:
data.keys()

In [ ]:
data['businesses']

In [ ]:
param_list = []

In [ ]:
len(data['businesses'])

In [ ]:
len(data['businesses'])

In [ ]:
# for n in range(len(data['businesses'])):
all_rows = []
for business in data['businesses']:
    print(business['name'])
    entry_tup = (business['id'], business['alias'], business['name'], business['review_count'], business['categories'][0]['alias'], business['rating'], business['location']['city'])
    all_rows.append(entry_tup)

In [ ]:
data_tup = tuple(all_rows)

In [ ]:
all_rows

In [ ]:
# data['businesses'][1].keys()

In [ ]:
# dict_keys(['id', 'alias', 'name', 'image_url', 'is_closed', 
#            'url', 'review_count', 'categories', 'rating',
#            'coordinates', 'transactions', 'price', 'location', 
#            'phone', 'display_phone', 'distance'])

In [ ]:
# qry = """INSERT INTO Businesses 
# (business_id, alias, name, review_count, categories, rating, city) 
# VALUES (%(id)s, %(alias)s, %(name)s, %(review_count)s, %(categories)s,
# %(rating)s, %(location['city'])s)"""

In [ ]:
for biz in businesses:
    if 'price' not in biz:
        biz['price'] = None
    (biz['id'], biz['name'], biz['reveiw_count'], biz['price'])

In [ ]:
# vrb = data['businesses'][0]

##### # Create a list of tuples from data, which is dictionary of lists of dictionaries

In [ ]:
# Create a list of tuples from data, which is dictionary of lists of dictionaries
tuple1 = ()

In [ ]:
type(cursor)
print(cnx)

In [ ]:
cursor.execute("SELECT * FROM MP.businesses")

In [ ]:
cursor.fetchall()

In [ ]:
query = """CREATE TABLE 
"""

In [ ]:
for n in range(1, len(all_rows)):
    cursor.execute(qry, all_rows[n])

In [ ]:
def db_insert(results):
    qry = """INSERT INTO businesses 
    (business_id, alias, name, review_count, categories, rating, city) 
    VALUES (%s, %s, %s, %s, %s, %s, %s)"""
    for n in range(0, len(all_rows)):
        cursor.execute(qry, all_rows[n])

In [ ]:
def parse_results(results):
    parsed_results = []
    for business in data['businesses']:
        entry_tup = (business['id'], business['alias'], business['name'], business['review_count'], business['categories'][0]['alias'], business['rating'], business['location']['city'])
        parsed_results.append(entry_tup)
    return parsed_results

In [ ]:
# Your code here; use a function or loop to retrieve all the results from your original request
import time

all_url_params = {'location':'Manhattan', 'categories':'massage, All', 'sort_by':'review_count'}

def all_results(url_params, api_key):
    response = yelp_call(url_params, api_key)
    num = data['total']
    print('{} total matches found.'.format(num))
    cur = 0
    
    while cur < num and cur < 100:
        url_params['offset'] = cur
        results = yelp_call(url_params, api_key)
        parsed_results = parse_results(results)
        db_insert(parsed_results)
        time.sleep(1) #Wait a second
#          for yelp you dont really need to wait a second
        cur += 20

# term = 'pizza'
# location = 'Astoria NY'
# url_params = {  'term': term.replace(' ', '+'),
#                 'location': location.replace(' ', '+'),
#                 'limit' : 50
#              }
df = pd.DataFrame(all_results(all_url_params, my_api_key))
print(len(df))
df.head()