In [3]:
import json
from mysql.connector import errorcode
import mysql.connector 
import config

In [10]:
db_name = 'students'

In [5]:
def create_database(cursor, database):
    try:
        cursor.execute(
            "CREATE DATABASE {} DEFAULT CHARACTER SET 'utf8'".format(database))
    except mysql.connector.Error as err:
        print("Failed creating database: {}".format(err))
        exit(1)

In [6]:
create_query = """
CREATE TABLE flat_students (
    student_id int(7) NOT NULL UNIQUE AUTO_INCREMENT,
    name varchar(40) NOT NULL,
    dob date NOT NULL,
    birthplace varchar(40) NOT NULL,
    siblings int(11) NOT NULL,
    years_in_nyc float(11) NOT NULL,
    favorite_food varchar(40) NOT NULL)
"""

In [7]:
f=open('students.json','r')
data=json.load(f)

In [11]:
cnx = mysql.connector.connect(
    host = config.host,
    user = config.user,
    passwd = config.password,
    database = db_name
)
cursor = cnx.cursor()

###  USING A LIST OF TUPLES

In [ ]:

insert_statement = """INSERT INTO flat_students (name, dob, birthplace, siblings, years_in_nyc, favorite_food)
VALUES (%s, %s, %s, %s, %s, %s)"""

### USING A LIST OF DICTS

In [12]:

insert_statement = """INSERT INTO flat_students (name, dob, birthplace, siblings, years_in_nyc, favorite_food)
VALUES (%(name)s, %(dob)s, %(birthplace)s, %(siblings)s, %(years_in_nyc)s, %(favorite_food)s)"""

In [ ]:
cursor.execute

In [1]:
def get_search_parameters(lat,long):
  #See the Yelp API for more details
  params = {}
  params["term"] = "restaurant"
  params["ll"] = "{},{}".format(str(lat),str(long))
  params["radius_filter"] = "2000"
  params["limit"] = "10"
 
  return params

In [2]:
get_search_parameters(45,67)

{'term': 'restaurant', 'll': '45,67', 'radius_filter': '2000', 'limit': '10'}